body {
    font-family: "Lato", sans-serif;
  }
  para{
      font-size:4px;

  }
  logo-icon{
height:20px;
width:20px;
  }




  .aside  {
      margin-left:340px;
      font-size:13px;
      margin-top: 30px;
  }

  .video-icon{
      margin-top:20px;
      font-size:10px;
  }

  .or{
      font-size:10px;
      text-align:centre;
      margin-left:300px;
      padding-top:20px;
      font-weight:bold;
  }

  .upload{
      font-size:10px;
      margin-left:50px;
      height:80px;
      width:80px;
      background-color: rgb(245, 245, 245);
      padding-top:55px;
      padding-left:40px;
      font-weight: bold;
  }
  .url{
      height:24px;
      width: 550px;
      margin-top:20px;
      margin-left:50px;
      text-align:centre;
      font-size:10px;
      padding-left: 14px;
      font-weight:bold;
      border-radius:10px;
      padding-top:15px;
      background-color: rgb(245, 245, 245);
  }

  .logo-icon{
      font-size:24px;
      padding-top:4px;
      

  }


  .student-icon{
      font-size:17px;
      padding-top:34px;
      opacity:0.4
  }

  .para{
      font-size:10px;
  }

  .para-1{
    font-size:10px;
}

.para-2{
    font-size:10px;
}



  .lesson-icon{
    font-size:17px;
    padding-top:20px;
    opacity:0.4
    
  }

  .settings-icon{
    font-size:17px;
    padding-top:27px;
    opacity:0.4
  }
  
    .sidenav {
    height: 480px;
    width: 70px;
    position: fixed;
    z-index: 1;
    text-align: center;
    margin-left:240px ;
    margin-top: 0px;
    background-color: rgb(245, 245, 245);
    overflow-x: hidden;
    padding-top: 20px;
    opacity: 1;
  }
  
  
  .topnav {
    overflow: hidden;
    background-color: whitesmoke;
    height: 70px;
    width: 810px;
    margin-left: 240px;
    margin-top:30px ;
  }

  sidenav
{
    display: flex;
    margin-top: 20px;
    font-size: 14px;
    text-align: left;
}